/*para la navbar*/
.navbar_s {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding-top: 60px;
    padding-bottom: 30px;

    position: sticky; /*Lo que aprendimos de la sticky*/
    top: 0; 
    z-index: 1000;     
}


.logo-container {
    margin-right: 60px; 
}


.logo {
    width: 85px; 
    height: auto;
}

/*Título de la página*/
.page-title {
    color: #1e3a5f; 
    margin-left: -40px;
    margin-bottom: 70px;
    font-size: 24px; 
}


.spacer {
    flex-grow: 1; 
}


.nav-options_s {
    list-style: none; 
    display: flex;

    margin: 0;
    padding: 0;
}


.nav-options_s a {
    text-decoration: none; 
    color: #1e3a5f; 
    margin-bottom: 30px;
    border-radius: 10px; 
    transition: background-color 0.3s; 
    line-height: 1.2;
    text-align: center;

    padding: 17px 15px;

    font-size: 17px;
}


.nav-options_s a:hover {
    background-color: #1e3a5f; 
    color: white; 
}








/*Para las tablas*/
.table-container {
    
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}


.custom-table {
    width: 100%; 
    border-collapse: collapse; 
}


.custom-table thead {
    background-color: #1e3a5f; 
}

.custom-table thead th {
    color: white; 
    padding: 10px; 
    text-align: center; 
}


.custom-table tbody tr:nth-child(even) {
    background-color: #f0f4f8; 
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #e2f0f7; 
}

.custom-table tbody td {
    padding: 10px; 
    color: black; 
    text-align: center; 
    border: 1px solid #ccc; 
}


.custom-table tbody td button {
    padding: 5px 10px; 
    background-color: #1e3a5f; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.custom-table tbody td button:hover {
    background-color: #14273c; 
}


.custom-table tbody tr td button{
    margin-bottom: 5px;

}




/*Los modales*/
.modal_pnl {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content_pnl {
    background-color: white; 
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #1e3a5f; 
    width: 80%; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}


.modal-content_pnl h5 {
    color: #1e3a5f; 
}

.modal-content_pnl p {
    color: #333; 
}


button {
    padding: 10px 15px; 
    margin: 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#btn-confirmar-publicar, #btn-confirmar-borrar, #btn-cerrar-modal-exito_borrade {
    background-color: #1e3a5f; 
    color: white; 
}

#btn-cancelar-publicar {
    background-color: #ccc; 
    color: black; 
}


#btn-confirmar-publicar:hover, #btn-confirmar-borrar:hover, #btn-cerrar-modal-exito_borrade:hover {
    background-color: #14273c; 
}

#btn-cancelar-publicar:hover {
    background-color: #b3b3b3; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.btn-publicar.disabled,
.btn-borrar.disabled {
    background-color: #ccc; 
    color: #777; 
    cursor: not-allowed; 
    opacity: 0.6; 
    border: none; 
}

.btn-publicar.disabled:hover,
.btn-borrar.disabled:hover {
    background-color: #ccc; 
}



/*Para el formulario*/
.form-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
     
    padding: 20px; 
}


.form-content {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 
                0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    max-width: 400px; 
}


.form-content input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


.form-content label {
    margin-bottom: 5px; 
    color: #1e3a5f; 
    font-weight: bold; 
}


.form-content button {
    background-color: #1e3a5f; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.form-content button:hover {
    background-color: #14273c; 
}


.modal_ex {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
}

.modal-content_ex {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    text-align: center; 
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 15px;
    background-color: #1b0064; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #3d22ac; 
}


#btnAdd{
    font-weight: bold;
    margin-left: 160px;
}




.card-container_ds {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.card_ds {
    width: 32%; 
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-inner_ds {
    display: flex;
    align-items: center;
}

.card-icon_ds {
    width: 25%; 
    background-color: #007bff;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    border-radius: 6px;
    margin-left: 5px;
}

.card-content_ds {
    width: 75%; 
    padding: 10px;
}

.card-content_ds h3 {
    margin: 0 0 8px;
    font-size: 18px;
}

.card-content_ds p {
    margin: 0;
    color: #555;
    font-size: 14px;
}
